<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
      -observe this is a key value pair, a dictionary.
      -this dictionary look up is generic and could be done for different appSettings.
    -->
    <add key="filePath" value="C:\Users\efea\OneDrive - RRI\Documents\tests_and_learning\c_#\Tournament_Data"/>
  </appSettings>
  <connectionStrings>

     <!--
      When this was not working, I had the connectionString as
      connectionString=".\Server=5CG11715DR;....
      
      but it started working when I deleted what .\
      not sure actually why. I got the idea to delete it from checking the Properties of the database
      and seeing that .\ was NOT in the connectionstring that was shown in the Properties-->
      <add name ="Tournaments" connectionString="Server=5CG11715DR;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
